<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
    h1{
        /* padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px; */
        padding: 10px 20px 30px;
        border-bottom: 10px;
        border-top: 30px;
        border-left: 20px;
        border-right: 40px;
        border-style: solid;
        border-color: seagreen;
        margin-top: 100px;
        margin-left: 200px;
    }    

    </style>
</head>
<body>
    <h1>Welcome</h1>
</body>
</html>