{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid-container{
            display: grid;
            grid-template-columns: 200px 200px 200px;
        }
        .griditem{
            border: 1px solid;
            padding: 10px;
        }
        img{
            width: 180px;
        }
    </style>
</head>
<body>
    <div class="grid-container">
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
        <div class="griditem"><img src="{% static 'images/download.jfif/' %}" alt=""></div>
    </div>
</body>
</html>