<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- 3. -->
<!-- <label for="">Enter the number</label>
<input type="number" name="" id="num"> <br>
<label for="">Enter the limit</label>
<input type="number" name="" id="limit">
<button onclick="multiplynumbers()">Find multiplication table</button>
<p id="result"></p> -->


<script>
// 1. To check if given word is a palindrome or not [WORKS]

// function isitpalindrome(str){
//     const len=str.length;
//     for (i=0;i<=len/2;i++){
//         if (str[i]!==str[len - 1 - i]){
//             return false
//         }
//     } return true;
// }
// const x=prompt('Enter the word');
// const isPal=isitpalindrome(x);
// if (isPal){
//     console.log('It is a palindrome');
// }
// else{
//     console.log('It is not a palindrome');
// }

// 2. To find factorial of a number [CHECK]

// findfactorial();
// function findfactorial(){
//     y=parseInt(prompt('Enter the number'));
//     z=1;
//     for (i=1;i<=y;i++){
//         // console.log(z*=i);
//         z=z*i;
//     } 
//     console.log(z);
// }

// 3. Program for multiplication table [CHECK]
// function multiplynumbers(){
//     var n=parseInt(document.getElementById('num').value);
//     var l=parseInt(document.getElementById('limit').value);
//     var mlt=""
//     for (var i=1;i<=l;i++){
//         mlt=mlt+i+"*"+n+"="+i*n+"<br/>";
//     }
//     document.getElementById("result").innerHTML=mlt;
// } 

// 4. check if triangle is equilateral, isosceles, or scalene [WORKS]

// x=parseInt(prompt('Enter the length of first side'));
// y=parseInt(prompt('Enter the length of second side'));
// z=parseInt(prompt('Enter the length of third side'));

// if (x==y && y==z){
//     console.log('The traingle is an equilateral triangle.');
// }
// else if (x==y && y!==z||x!==y && y==z||x==z && x!==y){
//     console.log('The traingle is an isosceles triangle.');
// }
// else {
//     console.log('The triangle is a scalene triangle.');
// }

// 5. Read some numbers and find repeating ones



</script>

</body>
</html>