<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<script>

// y=parseInt(prompt('Enter number'));
//     if (y>0){
//       console.log('the number is positive')  
//     }
//     else if (y==0){
//         console.log ('the number is zero')
//     }
//     else {
//         console.log('the number is negative')
//     }

z=parseInt(prompt('Enter marks'));
    if (z>=90 && z<=100){
        console.log('A1')
    }
    else if (z>=80 && z<90){
        console.log('A2')
    }
    else if (z>=70 && z<80){
        console.log('B1')
    }
    else if (z>=60 && z<70){
        console.log('B2')
    }
    else if (z>=50 && z<60){
        console.log('C1')
    }
    else if (z>=40 && z<50){
        console.log('C2')
    }
    else if (z>=30 && z<40){
        console.log('D')
    }
    else if (z>=0 && z<30){
        console.log('F')
    }
    else {
        console.log('Invalid Input')
    }

v1=parseInt(prompt('Enter your age'));
v2=prompt('Enter your nationality');
    if (v2=='indian'){
        if (v1>=18){
            console.log('you are eligible for voting')
        }
        else {
            console.log('you have not reached 18 years')
        }
    }
    else {
        console.log('you are not indian')
    }

a=parseInt(prompt('Enter a number between 1 to 7'));
    switch(a){
        case 1:
            console.log('Monday')
            break;
        case 2:
            console.log('Tuesday')
            break;
        case 3:
            console.log('Wednesday')
            break;
        case 4:
            conosle.log('Thursday')
            break;
        case 5:
            console.log('Friday')
            break;
        case 6:
            console.log('Saturday')
            break;
        case 7:
            console.log('Sunday')
            break;
        default :
            console.log('Invalid Input')
    }

</script>

</body>
</html>