<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<script>

// WHICH NUMBER IS GREATER

// a=parseInt(prompt('Enter the first number a'));
// b=parseInt(prompt('Enter the second number b'));

// if (a>b){
//     console.log('The number', a, 'is greater than number',b)
// }
// else if (a==b){
//     console.log('The numbers are equal')
// }
// else {
//     console.log('The number', b, 'is greater than number', a)
// }


x=parseInt(prompt('Enter the first number'));
y=parseInt(prompt('Enter the second number'));
z=prompt('Enter Operation +, -, *, /, **');


    if (z=='+'){
        console.log(x+y)
    }
    else if (z=='-'){
        console.log(x-y)
    }
    else if (z=='*'){
        console.log(x*y)
    }
    else if (z=='/'){
        console.log(x/y)
    }
    else if (z=='**'){
        console.log(x**y)
    }
    else {
        console.log('Invalid')
    }




</script>

</body>
</html>